/**********************************

Use: Reset Styles for all browsers

***********************************/
	
body, p, blockquote {
	margin: 0;
	padding: 0;
}

a img, iframe { border: none; }
	
/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
	
/* Lists
------------------------------*/
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}


/*
  独自カスタマイズ
*/
.red { background-color: red; }
.blue { color: blue; }
.green { color: green; }
dl dd {
        margin-left: 10px;
}